
body{
	height: 100vh;
	margin:0;
	background-image: url('/images/background.jpg');
	font-family: "ALARM CLOCK", monospace;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}

@font-face {
  font-display: swap;
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('/font/SEGA.woff') format('woff');
}

@font-face {
 font-family: "ALARM CLOCK";
 src: url("/font/alarm_clock.ttf") format("truetype")
}

h1{
	font-family: 'SEGA LOGO FONT';
	font-weight: 150;
   color: white;  /* Fallback: assume this color ON TOP of image */
   background: url(/images/backgroundFont.jpg)  center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 4rem;
   text-transform: uppercase;
}

.containerTest{
	height: 100vh;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.container{
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
	box-shadow: 1px 1px 75px #970093;
	box-shadow: inset 0px 12px 25px #970093;
	color: #a5ff00;
}

h1{
	text-align: center;
	text-shadow: 5px 10px 75px #62229442;
}

#header_board_game{
	font-size: 1.5rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 10px;
}

#time, #count{
	background: black;
    box-shadow: inset -2px -2px 1px #2b2b2b;
    height: 25px;
    width: 59.8px;
}

#count, #time{
	text-align: center;
}

#board_game{
	font-size:6rem;
	padding:6px;
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: repeat(6, auto);
	grid-gap: 6px;
}

#modal_win{
	transition: all 0.7s;
	position: absolute;
	z-index: 1;
}

#modal_win div{
	font-size: 1.5em;
    color: #a5ff00;
    display: flex;
    /* justify-content: center; */
    position: relative;
    top: 45%;
    flex-direction: column;
    /* left: 50%; */
    /* align-content: center; */
    align-items: center
}

.show_off{
	background-color: rgba(0,0,0,0);
	pointer-events: none;
	position: absolute;
	top:-100%;
}

.show_on{
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
    width: 100vw;
}

.button {
  background-color: rgba(35,23,71,0.52);
  color: #D00060;
  border: 2px solid rgba(35,23,71,0.52);
  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  height: 40px;
  width: 140px;
  border-radius: 6px;
  font-family: "ALARM CLOCK", monospace;
  font-size: 20px;
}

.button:hover {
  background-color: transparent;
  color: #D76F35;
  cursor: pointer;
}

button:focus {outline:0;}

#retry{
  align-self: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	
  background-color: transparent;
  width: 120px;
  height: 120px;
  /*
  border: 1px solid #f1f1f1;*/
  perspective: 1000px;
   /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

@keyframes scale{
	50%{
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes scale{
	50%{
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.flip-card-front:hover{
	-webkit-animation: scale 0.4s ease;
	animation: : scale 0.4s ease;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-click .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
	border-radius:10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	cursor:pointer;
   background-image: url('/images/backCard2.jpg');
   background-size: 120px;

}

/* Style the back side */
.flip-card-back {
background: #221240; /* Old browsers */
background: -moz-linear-gradient(top, #221240 0%, #602359 50%, #1f002f 100%, #031d55 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #221240 0%,#602359 50%,#1f002f 100%,#031d55 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #221240 0%,#602359 50%,#1f002f 100%,#031d55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221240', endColorstr='#031d55',GradientType=0 ); /* IE6-9 */
  transform: rotateY(180deg);
}



@media screen and (max-width: 790px){

	.flip-card {
    height: 100px;
    width: 100px
	}
	.flip-card-front{
		background-size: 100px;
	}
	#board_game{
	font-size: 5rem;
	display: grid;
	grid-template-columns: repeat(6, 100px);
	grid-template-rows: repeat(4, 100px);
	grid-gap: 5px;
	}
}

@media screen and (max-width: 666px){
	h1{
		font-size: 2rem;
	}

	.flip-card {
    height: 80px;
    width: 80px
	}
	.flip-card-front{
		background-size: 80px;
	}
	#board_game{
	font-size: 3.7rem;
	display: grid;
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(6, 80px);
	}
}